@page "/Register"
@using BlazorClient.gRPCClients.Interfaces
@using Google.Protobuf
@using UIComponents
@inject NavigationManager NavigationManager
@inject IUserService UsergRpcClient

<MudContainer Class="login-container">
    <MudCard Class="login-card m-4">
        <MudCardContent>
            <MudTypography Variant="TypographyVariant.H4" Class="text-center">Register New Account</MudTypography>
            <MudForm @ref="registerForm" OnValidSubmit="HandleValidSubmit">
                <MudTextField @bind-Value="registerModel.Name" Label="Name" Required="true" />
                <MudTextField @bind-Value="registerModel.Username" Label="Username" Required="true"/>
                <MudTextField @bind-Value="registerModel.Password" Label="Password" Required="true" Type="InputType.Password"/>
                <MudTextField @bind-Value="registerModel.RepeatedPassword" Label="Confirm Password" Required="true" Type="InputType.Password"/>
                <div class="text-center mt-4">
                    <MudButton Class="register-button" Variant="Variant.Filled" Color="Color.Primary" Type="ButtonType.Submit" @onclick="CreateAsync">Register</MudButton>
                    <MudButton Class="register-button" Variant="Variant.Filled" Color="Color.Primary" Type="ButtonType.Submit" @onclick="NavigateToLogin">Back</MudButton>
                </div>
            </MudForm>

        </MudCardContent>
    </MudCard>
</MudContainer>

<PopUp ShowPopUp="showPopUp" >
    <div>
        <span>@Message</span>
        <MudButton @onclick="Proceed">OK</MudButton>
    </div>
</PopUp>

@code {
    private MudForm registerForm;
    private RegisterModel registerModel = new RegisterModel();
    private string Message = "";
    private bool showPopUp;
    
    protected override void OnInitialized()
    {
        showPopUp = false;
    }
    
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }
    

    public class RegisterModel
    {
        public string Name { get; set; } = "";
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string RepeatedPassword { get; set; } = "";
    }
    
    private async Task CreateAsync()
    {
        if (registerModel.Name != "" && registerModel.Username != "" && registerModel.Password != "" 
            && registerModel.RepeatedPassword.Equals(registerModel.Password))
        {
            try
            {
                User existingUser;
                try
                {
                    existingUser = await UsergRpcClient.GetByUsernameAsync(registerModel.Username);
                }
                catch (Exception e)
                {
                    existingUser = null;
                }
                
                if (existingUser == null)
                {
                    var newUser = new UserCreationDto
                    {
                        Name = registerModel.Name,
                        Username = registerModel.Username,
                        Password = registerModel.Password,
                        IsAdmin = false
                    };
                    await UsergRpcClient.CreateAsync(newUser);
                    Message = "New user created";
                    showPopUp = true;
                    StateHasChanged();
                }
                else
                {
                    Message = "Username already taken";
                    showPopUp = true;
                    StateHasChanged();
                }
            }
            
            catch (Exception e)
            {
                Message = e.Message;
                showPopUp = true;
            }
        }
        else
        {
            Message = "Fields cannot be empty or passwords do not match";
            showPopUp = true;
        }
    }
    
    private void Proceed()
    {
        showPopUp = false;
    }
}